<a href="https://colab.research.google.com/github/Nikoldbautista/PROGCOM_B_2026/blob/main/EJERCICIOS5al11ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##EJERCICIO 5

IF SIMPLE

In [6]:
import math

a = float(input("Ingrese a: "))
b = float(input("Ingrese b: "))
c = float(input("Ingrese c: "))

d = b**2 - 4*a*c

if d > 0:
    x1 = (-b + math.sqrt(d)) / (2*a)
    x2 = (-b - math.sqrt(d)) / (2*a)
    print("Dos soluciones:", x1, "y", x2)

if d == 0:
    x = -b / (2*a)
    print("Una solución:", x)

if d < 0:
    print("No tiene soluciones reales")

Ingrese a: 2
Ingrese b: 4
Ingrese c: 6
No tiene soluciones reales

IF/ELIF

In [7]:
import math

a = float(input("Ingrese a: "))
b = float(input("Ingrese b: "))
c = float(input("Ingrese c: "))

d = b**2 - 4*a*c

if d > 0:
    x1 = (-b + math.sqrt(d)) / (2*a)
    x2 = (-b - math.sqrt(d)) / (2*a)
    print("Dos soluciones:", x1, "y", x2)
elif d == 0:
    x = -b / (2*a)
    print("Una solución:", x)
else:
    print("No tiene soluciones reales")

Ingrese a: 4
Ingrese b: 6
Ingrese c: 8
No tiene soluciones reales

IF TERNARIO

In [8]:
import math

a = float(input("Ingrese a: "))
b = float(input("Ingrese b: "))
c = float(input("Ingrese c: "))

d = b**2 - 4*a*c

resultado = (
    "Dos soluciones" if d > 0 else
    "Una solución" if d == 0 else
    "No tiene soluciones reales"
)

print(resultado)

Ingrese a: 4
Ingrese b: -2
Ingrese c: 5
No tiene soluciones reales

##EJERCICIO 6

IF SIMPLE

In [9]:
num = int(input("Ingrese un número: "))

if num % 2 == 0:
    print("Es par")

if num % 2 != 0:
    print("Es impar")

Ingrese un número: 2
Es par

IF/ELIF

In [10]:
num = int(input("Ingrese un número: "))

if num % 2 == 0:
    print("Es par")
else:
    print("Es impar")

Ingrese un número: 4
Es par

IF TERNARIO

In [11]:
num = int(input("Ingrese un número: "))
print("Es par") if num % 2 == 0 else print("Es impar")

Ingrese un número: 5
Es impar

##EJERCICIO 7

IF SIMPLE

In [12]:
anio = int(input("Ingrese un año: "))

condicion = (anio % 4 == 0 and anio % 100 != 0) or (anio % 400 == 0)

if condicion:
    print("Es bisiesto")

if not condicion:
    print("No es bisiesto")

Ingrese un año: 2026
No es bisiesto

IF/ELIF

In [13]:
anio = int(input("Ingrese un año: "))

if (anio % 4 == 0 and anio % 100 != 0) or (anio % 400 == 0):
    print("Es bisiesto")
else:
    print("No es bisiesto")

Ingrese un año: 2026
No es bisiesto

IF TERNARIO

In [14]:
anio = int(input("Ingrese un año: "))

print("Es bisiesto") if (anio % 4 == 0 and anio % 100 != 0) or (anio % 400 == 0) else print("No es bisiesto")

Ingrese un año: 2026
No es bisiesto

##EJERCICIO 8

IF SIMPLE

In [15]:
nombre = input("Nombre: ")
edad = int(input("Edad: "))

if edad >= 70:
    print(nombre, "tiene prioridad")

if edad < 70:
    print(nombre, "no tiene prioridad")

Nombre: nikold
Edad: 16
nikold  no tiene prioridad

IF/ELIF

In [16]:
nombre = input("Nombre: ")
edad = int(input("Edad: "))

if edad >= 70:
    print(nombre, "tiene prioridad")
else:
    print(nombre, "no tiene prioridad")

Nombre: nikold
Edad: 71
nikold tiene prioridad

IF TERNARIO

In [17]:
nombre = input("Nombre: ")
edad = int(input("Edad: "))

print(nombre + " tiene prioridad") if edad >= 70 else print(nombre + " no tiene prioridad")

Nombre: nikold
Edad: 80
nikold  tiene prioridad

##EJERCICIO 9

---

IF SIMPLE

In [18]:
a = float(input("Número 1: "))
b = float(input("Número 2: "))
c = float(input("Número 3: "))

if a > b and a > c:
    print("Mayor:", a)

if b > a and b > c:
    print("Mayor:", b)

if c > a and c > b:
    print("Mayor:", c)

Número 1: 3
Número 2: 4
Número 3: 5
Mayor: 5.0

IF/ELIF

In [19]:
a = float(input("Número 1: "))
b = float(input("Número 2: "))
c = float(input("Número 3: "))

if a >= b and a >= c:
    print("Mayor:", a)
elif b >= c:
    print("Mayor:", b)
else:
    print("Mayor:", c)

Número 1: 3
Número 2: 5
Número 3: 6
Mayor: 6.0

IF TERNARIO

In [20]:
a = float(input("Número 1: "))
b = float(input("Número 2: "))
c = float(input("Número 3: "))

mayor = a if a > b and a > c else (b if b > c else c)
print("Mayor:", mayor)

Número 1: 3
Número 2: 4
Número 3: 5
Mayor: 5.0

##EJERCICIO 10

IF SIMPLE

In [21]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

if a == b and b == c:
    print("Equilátero")

if (a == b and a != c) or (a == c and a != b) or (b == c and b != a):
    print("Isósceles")

if a != b and b != c and a != c:
    print("Escaleno")

Lado 1: 7
Lado 2: 12
Lado 3: 20
Escaleno

IF/ELIF

In [22]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

if a == b and b == c:
    print("Equilátero")
elif a == b or a == c or b == c:
    print("Isósceles")
else:
    print("Escaleno")

Lado 1: 10
Lado 2: 17
Lado 3: 20
Escaleno

IF TERNARIO

In [23]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

tipo = "Equilátero" if a == b and b == c else ("Isósceles" if a == b or a == c or b == c else "Escaleno")
print("Tipo:", tipo)

Lado 1: 15
Lado 2: 15
Lado 3: 20
Tipo: Isósceles

##Ejercicio 11

IF SIMPLE

In [ ]:
nombre = input("Ingrese su nombre: ")
peso = float(input("Ingrese su peso en kg: "))
altura = float(input("Ingrese su altura en metros: "))

imc = peso / (altura ** 2)
categoria=""
descripcion=""
if imc < 18.5:
    categoria = "Bajo peso"
    descripcion = "Se recomienda mejorar la alimentación y consultar un especialista."
elif imc < 25:
    categoria = "Normal"
    descripcion = "Mantenga hábitos saludables."
elif imc < 30:
    categoria = "Sobrepeso"
    descripcion = "Se recomienda realizar actividad física y mejorar la dieta."
else:
    categoria = "Obesidad"
    descripcion = "Es importante consultar un profesional de la salud."

print("\nNombre:", nombre)
print("IMC:", round(imc, 2))
print("Categoría:", categoria)
print("Recomendación:", descripcion)

Ingrese su nombre: nikold
Ingrese su peso en kg: 60
Ingrese su altura en metros: 1.66

Nombre: nikold
IMC: 21.77
Categoría: Normal
Recomendación: Mantenga hábitos saludables.

IF/ELIF

In [ ]:
nombre = input("Ingrese su nombre: ")
peso = float(input("Ingrese su peso en kg: "))
altura = float(input("Ingrese su altura en metros: "))

imc = peso / (altura ** 2)
categoria=""
descripcion=""
if imc < 18.5:
    categoria = "Bajo peso"
    descripcion = "Se recomienda mejorar la alimentación y consultar un especialista."

elif imc < 25:
    categoria = "Normal"
    descripcion = "Mantenga hábitos saludables."
elif imc < 30:
    categoria = "Sobrepeso"
    descripcion = "Se recomienda realizar actividad física y mejorar la dieta."
else:
    categoria = "Obesidad"
    descripcion = "Es importante consultar un profesional de la salud."
print("\nNombre:", nombre)
print("IMC:", round(imc, 2))
print("Categoría:", categoria)
print("Recomendación:", descripcion)

Ingrese su nombre: NIKOLD
Ingrese su peso en kg: 60
Ingrese su altura en metros: 1.66

Nombre: NIKOLD
IMC: 21.77
Categoría: Normal
Recomendación: Mantenga hábitos saludables.

IF TERNARIO

In [ ]:
nombre = input("Ingrese su nombre: ")
peso = float(input("Ingrese su peso en kg: "))
altura = float(input("Ingrese su altura en metros: "))

imc = peso / (altura ** 2)
categoria, descripcion = ("Bajo peso", "Se recomienda mejorar la alimentación y consultar un especialista.") if imc < 18.5 else \
                          ("Normal", "Mantenga hábitos saludables.") if imc < 25 else \
                          ("Sobrepeso", "Se recomienda realizar actividad física y mejorar la dieta.") if imc < 30 else \
                          ("Obesidad", "Es importante consultar un profesional de la salud.")

print("\nNombre:", nombre)
print("IMC:", round(imc, 2))
print("Categoría:", categoria)
print("Recomendación:", descripcion)

Ingrese su nombre: nikold
Ingrese su peso en kg: 60
Ingrese su altura en metros: 1.66

Nombre: nikold
IMC: 21.77
Categoría: Normal
Recomendación: Mantenga hábitos saludables.

##EJERCICIO 12

IF SIMPLE

In [ ]:
num1 = float(input("Primer número: "))
num2 = float(input("Segundo número: "))
op = input("Operación (+, -, *, /): ")
calculadora = "Operación no válida"

if op == "+": calculadora = num1 + num2
if op == "-": calculadora = num1 - num2
if op == "*": calculadora = num1 * num2
if op == "/":
    if num2 != 0: res = num1 / num2
    else: calculadora = "Error: División por cero"

print(f"Resultado: {calculadora}")

Primer número: 5
Segundo número: 6
Operación (+, -, *, /): +
Resultado: 11.0

IF/ELIF

In [ ]:
num1 = float(input("Primer número: "))
num2 = float(input("Segundo número: "))
op = input("Operación (+, -, *, /): ")

if op == "+":
    calculadora = num1 + num2
elif op == "-":
    calculadora = num1 - num2
elif op == "*":
    calculadora = num1 * num2
elif op == "/":
    calculadora = num1 / num2 if num2 != 0 else "Error: División por cero"
else:
    calculadora = "Operación no válida"

print(f"Resultado: {calculadora}")

Primer número: 5
Segundo número: 7
Operación (+, -, *, /): +
Resultado: 12.0

IF TERNARIO

In [ ]:
num1 = float(input("Primer número: "))
num2 = float(input("Segundo número: "))
op = input("Operación (+, -, *, /): ")
calculadora = (num1 + num2) if op == "+" else \
              (num1 - num2) if op == "-" else \
              (num1 * num2) if op == "*" else \
              (num1 / num2 if num2 != 0 else "Error: Div por 0") if op == "/" else "Error"

print(f"Resultado: {calculadora}")

Primer número: 6
Segundo número: 2
Operación (+, -, *, /): *
Resultado: 12.0

##EJERCICIO 13

IF SIMPLE

In [ ]:
nota = float(input("Ingrese la nota (0-100): "))

if 60 <= nota < 70: calificacion = "D"
if 70 <= nota < 80: calificacion = "C"
if 80 <= nota < 90: calificacion = "B"
if nota >= 90:      calificacion = "A"

print(f"Tu calificación es: {calificacion}")

Ingrese la nota (0-100): 100
Tu calificación es: A

IF/ELIF

In [ ]:
nota = float(input("Ingrese la nota (0-100): "))

if nota >= 90:
    calificacion = "A"
elif nota >= 80:
    calificacion = "B"
elif nota >= 70:
    calificacion = "C"
elif nota >= 60:
    calificacion = "D"
else:
    calificacion = "F"

print(f"Tu calificación es: {calificacion}")

Ingrese la nota (0-100): 80
Tu calificación es: B

IF/TERNARIO

In [ ]:
nota = float(input("Ingrese la nota (0-100): "))

calificacion = "A" if nota >= 90 else \
               "B" if nota >= 80 else \
               "C" if nota >= 70 else \
               "D" if nota >= 60 else "F"

print(f"Resultado con Ternario: {calificacion}")

Ingrese la nota (0-100): 70
Resultado con Ternario: C

##EJERCICIO 14

IF SIMPLE

In [ ]:
dia = int(input("Ingrese un número (1-7): "))
resultado = "Día no válido"

if dia == 1: resultado = "Lunes"
if dia == 2: resultado = "Martes"
if dia == 3: resultado = "Miércoles"
if dia == 4: resultado = "Jueves"
if dia == 5: resultado = "Viernes"
if dia == 6: resultado = "Sábado"
if dia == 7: resultado = "Domingo"

print(f"Resultado: {resultado}")

Ingrese un número (1-7): 2
Resultado: Martes

IF/ELIF

In [ ]:
dia = int(input("Ingrese un número (1-7): "))

if dia == 1:
    resultado = "Lunes"
elif dia == 2:
    resultado = "Martes"
elif dia == 3:
    resultado = "Miércoles"
elif dia == 4:
    resultado = "Jueves"
elif dia == 5:
    resultado = "Viernes"
elif dia == 6:
    resultado = "Sábado"
elif dia == 7:
    resultado = "Domingo"
else:
    resultado = "Día no válido"

print(f"Resultado: {resultado}")

Ingrese un número (1-7): 2
Resultado: Martes

IF TERNARIO

In [ ]:
dia = int(input("Ingrese un número (1-7): "))

resultado = "Lunes" if dia == 1 else \
            "Martes" if dia == 2 else \
            "Miércoles" if dia == 3 else \
            "Jueves" if dia == 4 else \
            "Viernes" if dia == 5 else \
            "Sábado" if dia == 6 else \
            "Domingo" if dia == 7 else "Día no válido"

print(f"Resultado: {resultado}")

Ingrese un número (1-7): 1
Resultado: Lunes

##EJERCICIO 15

IF SIMPLE

In [ ]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

es_triangulo = a + b > c and a + c > b and b + c > a
resultado = "No es un triángulo"

if es_triangulo and a == b and b == c: resultado = "Equilátero"
if es_triangulo and ((a == b and a != c) or (a == c and a != b) or (b == c and b != a)): resultado = "Isósceles"
if es_triangulo and a != b and a != c and b != c: resultado = "Escaleno"

print(f"Resultado: {resultado}")

Lado 1: 5
Lado 2: 15
Lado 3: 7
Resultado: No es un triángulo

IF ELIF

In [ ]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

if a + b > c and a + c > b and b + c > a:
    if a == b == c:
        tipo = "Equilátero"
    elif a == b or a == c or b == c:
        tipo = "Isósceles"
    else:
        tipo = "Escaleno"
    print(f"Es un triángulo {tipo}")
else:
    print("No es un triángulo")

Lado 1: 8
Lado 2: 1
Lado 3: 20
No pueden formar un triángulo

IF TERNARIO

In [ ]:
a = float(input("Lado 1: "))
b = float(input("Lado 2: "))
c = float(input("Lado 3: "))

validar = "Equilátero" if a == b == c else "Isósceles" if (a == b or a == c or b == c) else "Escaleno"
resultado = validar if (a + b > c and a + c > b and b + c > a) else "No es un triángulo"

print(f"Resultado: {resultado}")

Lado 1: 7
Lado 2: 15
Lado 3: 14
Resultado: Escaleno